<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.consonant.dao.mybatis.mapper.GameMapper">
	<!-- 게임 등록 -->
	<insert id="createGame" parameterType="Game">
		<selectKey keyProperty="gameNo" resultType="int" order="BEFORE">
			SELECT game_no_seq.nextval as game_no FROM DUAL
		</selectKey>
		
		INSERT INTO GAME_INFO (game_no, game_title, game_intro, game_difficulty, quiz_number, game_score, category_id, member_id)
		VALUES(#{gameNo}, #{gameTitle}, #{gameIntro}, #{gameDifficulty}, #{quizNumber}, #{gameScore}, #{categoryId}, #{memberId})
	
	</insert>
	
	<!-- 게임 등록시 퀴즈 등록 -->
	<insert id="createQuiz" parameterType="Quiz">
		<selectKey keyProperty="quizNo" resultType="int" order="BEFORE">
			SELECT quiz_no_seq.nextval as quiz_no FROM DUAL
		</selectKey>
		
		INSERT INTO QUIZ (quiz_no, question, answer, quiz_difficulty, hint, hint_point, game_no)
		VALUES(#{quizNo}, #{question}, #{answer}, #{quizDifficulty}, #{hint}, #{hintPoint}, #{gameNo})
	</insert>
	
	<!-- 게임 목록 가져오기 -->
	<select id="findAllGames" resultType="Game">
		SELECT g.game_no, g.game_title, g.game_intro, g.game_difficulty, g.quiz_number, g.game_score, g.category_id, g.member_id,
				COALESCE(h.score, 0) AS score
		FROM game_info g LEFT OUTER JOIN (SELECT history.score, history.game_no, history.member_id FROM history WHERE history.member_id = #{memberId}) h
		ON g.game_no = h.game_no
		ORDER BY g.game_no DESC
	</select>
	
	
	<!--카테고리별 게임 목록 가져오기 -->
	<select id="findAllGamesByCategory" resultType="Game">
		SELECT g.game_no, g.game_title, g.game_intro, g.game_difficulty, g.quiz_number, g.game_score, g.category_id, g.member_id,
				COALESCE(h.score, 0) AS score
		FROM game_info g LEFT OUTER JOIN (SELECT history.score, history.game_no, history.member_id FROM history WHERE history.member_id = #{memberId}) h
		ON g.game_no = h.game_no
		WHERE g.category_id = #{categoryId}
		ORDER BY g.game_no DESC
	</select>
	
	<!-- 게임 id에 해당하는 게임 정보 가져오기 -->
	<select id="findGame" resultMap="collectionGameResultMap">
		SELECT g.game_no AS gameNo, g.game_title AS gameTitle, g.game_intro AS gameIntro, g.game_difficulty AS gameDifficulty, g.quiz_number AS quizNumber, g.game_score AS gameScore, g.category_id AS categoryId,
				q.quiz_no AS quizNo, q.question, q.answer, q.quiz_difficulty AS quizDifficulty, q.hint, q.hint_point AS hintPoint, q.game_no AS gameNo
		FROM game_info g, quiz q
		WHERE g.game_no = q.game_no AND g.game_no=#{gameNo}
				
	</select>
	
	<resultMap id="collectionGameResultMap" type="com.project.consonant.domain.GameInfoVO">
		<result column="gameNo" jdbcType="BIGINT" property="gameNo"/>
		<result column="gameTitle" jdbcType="VARCHAR" property="gameTitle"/>
		<result column="gameIntro" jdbcType="VARCHAR" property="gameIntro"/>
		<result column="gameDifficulty" jdbcType="BIGINT" property="gameDifficulty"/>
		<result column="quizNumber" jdbcType="BIGINT" property="quizNumber"/>
		<result column="gameScore" jdbcType="BIGINT" property="gameScore"/>
		<result column="categoryId" jdbcType="VARCHAR" property="categoryId"/>
		<collection property="quizList" ofType="com.project.consonant.domain.Quiz">
			<result column="quizNo" jdbcType="BIGINT" property="quizNo"/>
			<result column="question" jdbcType="VARCHAR" property="question"/>
			<result column="answer" jdbcType="VARCHAR" property="answer"/>
			<result column="quizDifficulty" jdbcType="BIGINT" property="quizDifficulty"/>
			<result column="hint" jdbcType="VARCHAR" property="hint"/>
			<result column="hintPoint" jdbcType="BIGINT" property="hintPoint"/>
			<result column="gameNo" jdbcType="BIGINT" property="gameNo"/>
		</collection>
	</resultMap>
</mapper>


