<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.consonant.dao.mybatis.mapper.HistoryMapper">
	<!-- 게임 플레이 후 획득한 점수 저장 -->
	<insert id="playGameHistory" parameterType="History">
		INSERT INTO History (play_date, correct_number, score, game_no, member_id)
		VALUES(SYSDATE, #{correctNumber}, #{score}, #{gameNo}, #{memberId})
	</insert>
	
	<!-- 플레이 이력 조회 -->
	<select id="findHistory" resultType="_int">
		SELECT COUNT(*)
		FROM History
		WHERE game_no = #{gameNo} and member_id = #{memberId}
	</select>
	
	<!-- 플레이 이력 갱신 -->
	<update id="updatePlayGameHistory" parameterType="History">
		UPDATE History
		SET play_date = SYSDATE, correct_number = #{correctNumber}, score = #{score}
		WHERE game_no = #{gameNo} and member_id = #{memberId}
	</update>
</mapper>