<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.consonant.dao.mybatis.mapper.RankingMapper">

	<!-- 회원 id로 회원 정보 조회, 로그인 시 회원정보 확인 -->
	<select id="selectTop10Rankings" resultType="Member">
		SELECT member_id AS memberId, total_score AS totalScore, rank
		FROM (
			SELECT *
			FROM member
			WHERE rank > 0
			ORDER BY total_score DESC
		)
		WHERE ROWNUM <![CDATA[<=]]> 10
	</select>
	
</mapper>