<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
  
	<header th:fragment="headerFragment">
		<script th:inline="javascript">
		  	$(function (){
		  		$("#info").click(function (){
		  	  	$("#logout").toggle();
		  	  });
		  	});
  		</script>
  	
		<span class="title">
			초성퀴즈
		</span>
		<table class="member_info" id="info">
			<tr>
				<td id="memberId" th:text="${session.member.memberId}">솜솜님</td>
				<td id="point" th:text="${session.member.point} + 'pt'">100pt</td>
			</tr>
		</table>
		<span class="toggle_logout" id="logout" onclick="location.href='/member/logout'">logout</span>
	</header>
</html>