.manualTable{
	border-spacing:15px;
	margin-top: 1%;
}
.manualTable td{
	border-collapse: separate;
	font-size:20px;
	
}
.consonantFunc{
	font-weight: 900;
	text-align: center;
	border-radius: 50px;
	background: #FFF29E;
	width: 30%;
}
.space{
	height:20px;
}
.gameListBtn{
	margin-right:5%;
	margin-top: 2%;
	
	width: 10%;
	height: 40px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	text-align: center;

	color: #000000;
	
	background: #FFF1AA;
	border-radius: 50px;
	border: transparent;
	
	cursor: pointer;
}