<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/comm/layout}">
	
	<head>
		<meta charset="UTF-8" />
		<title>Consonant Game List</title>
	</head>
	
	<th:block layout:fragment="css">
		<link th:href="@{/css/comm.css}" rel="stylesheet" />
		<link th:href="@{/css/gameList.css}" rel="stylesheet" />
	</th:block>
	
	
	<div layout:fragment="content" align="center">
		<div class="divForButtons">
			<button class='btnGameList' type="button" style="margin-right:2%;">튜토리얼</button>
			<button class='btnGameList' type="button" onclick="location.href='/game/createGame'">문제등록</button>
		</div>
		<div class="divForSelect">	
			<select class="selectGame" onchange="changeCategory(this.value)">
				<option value="all">전체</option>
				<option th:each="category : ${categoryList}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>	
			</select>
		</div>
	 
		<div class="gameListDiv" id="gameListDiv">

		</div>
	</div>
	
	<th:block layout:fragment="script">
		<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="/js/gameList.js"></script>
	</th:block>
</html>
