<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/comm/layout}">
	
	<head>
		<meta charset="UTF-8" />
		<title>Consonant Game List</title>
	</head>
	
	<th:block layout:fragment="css">
		<link th:href="@{/css/comm.css}" rel="stylesheet" />
		<link th:href="@{/css/gameList.css}" rel="stylesheet" />
	</th:block>
	
	
	<div layout:fragment="content" align="center">
		<div class="divForButtons">
			<button class='btnGameList' type="button" style="margin-right:2%;">튜토리얼</button>
			<button class='btnGameList' type="button" onclick="location.href='/game/createGame'">문제등록</button>
		</div>
		<div class="divForSelect">	
			<select class="selectGame" onchange="changeCategory(this.value)">
				<option value="all">전체</option>
				<option th:each="category : ${categoryList}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>	
			</select>
		</div>
	 
		<div class="gameListDiv" id="gameListDiv">
		<!--  <div th:each="game : ${gameList}" class="quizInfoBox">
			<table class="quizInfoTable">
				<tr>
					<td class="quizNameTd" th:text="${game.gameTitle}">퀴즈명</td>
					<td class="scoreTd" th:text="|내 점수: ${game.score} / 총점: ${game.gameScore}|">내 점수: 60 / 총점: 100</td>
					<td style="width:15%;" rowspan="2"><button class='btnGameStart' type="button" th:onclick="|location.href='/game/playGame/${game.gameNo}'|">시작</button></td>
				</tr>
				<tr>
					<td th:text="${game.gameIntro}"></td>
					<td th:if="${game.gameDifficulty == 3}" th:text="|난이도: 상 / 문제 개수: ${game.quizNumber}|"></td>
					<td th:if="${game.gameDifficulty == 2}" th:text="|난이도: 중 / 문제 개수: ${game.quizNumber}|"></td>
					<td th:if="${game.gameDifficulty == 1}" th:text="|난이도: 하 / 문제 개수: ${game.quizNumber}|"></td>
			</table>
		</div>-->
		</div>
	</div>
	
	<th:block layout:fragment="script">
		<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="/js/gameList.js"></script>
	</th:block>
</html>
