<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/comm/layout}">

	<th:block layout:fragment="css">
		<link th:href="@{/css/home.css}" rel="stylesheet" />
	</th:block>
	
	<th:block layout:fragment="script">
	</th:block>
	
	<div layout:fragment="content">
		<div class="homeWrap1">
			<table class="game_table">
				<tr>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="2" class="create_quiz" onclick="location.href='/game/createGame'">퀴즈 등록</td>
				</tr>
				<tr>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td class="quiz_game" onclick="location.href='/game/list'">퀴즈 맞추기</td>
					<td class="speed_game" onclick="location.href='/game/speed/playGame'">스피드 퀴즈</td>
				</tr>
			</table>
		</div>
		<div class="homeWrap2">
			<table class="rank_table">
				<tr>
					<td class="myrank_title">나의 랭킹</td>
				</tr>
				<tr>
					<td class="myrank">
						<span th:if="${session.member.rank} == 0">
							- 
						</span>
						<span th:if="${session.member.rank} != 0">
							Rank [[${session.member.rank}]]. [[${session.member.memberId}]] [[${session.member.totalScore}]]
						</span>
					</td>
				</tr>
				<tr>
					<td class="toprank_title">실시간 랭킹</td>
				</tr>
				<tr>
					<td class="toprank">
						<table class="ranklist_table">
							<tr>
								<th>Rank</th>
								<th>ID</th>
								<th>Score</th>
							<tr>
							<tr th:each="member : ${rankingMembers}">
								<td>[[${member.rank}]]</td>
								<td>[[${member.memberId}]]</td>
								<td>[[${member.totalScore}]]</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>

</html>